.auth-nav {
  margin-left: auto;

  @media screen and (max-width: 766px) {
    display: none;
  }

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    padding-right: 15px;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
  }

  &__item {
    display: flex;
  }

  .auth-nav__item:not(:last-child) {
    @media screen and (min-width: $tablet) {
      margin-bottom: 10px;
    }
    @media screen and (min-width: $desktop) {
      margin-right: 50px;
      margin-bottom: 0;
    }
  }

  // &__item:not(:last-child) на большой єкран
  //   margin-right: 50px;
  // }

  &__svg {
    margin-right: 10px;
  }

  &__icon {
    fill: currentColor;
  }
}

.auth-nav__link {
  display: flex;
  align-items: center;
  color: $primery-text-color;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-text;
  }
}
