.features {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
  }

  &__item {
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
      flex-basis: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }
    @media screen and (min-width: $desktop) {
      width: 270px;
      // display: flex;
      // flex-basis: calc((100% - 8 * 15px) / 4);
      // // // margin-right: 15px;
    }
  }

  &__svg-box {
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: $bc-before-feature;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    @media screen and (max-width: 767px) {
      max-width: 450px;
    }

    @media screen and (min-width: $tablet) {
    }

    @media screen and (min-width: $desktop) {
      width: 270px;
      height: 120px;
    }
  }

  &__title {
    color: $title-text-color;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;

    @media screen and (min-width: $tablet) and (max-width: 1199px) {
      // text-align: left;
    }
  }

  &__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $primery-text-color;

    @media screen and (min-width: $desktop) {
      text-align: left;
    }
  }
}

.section__title--visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: $desktop) {
  .features__item:not(:last-child) {
    margin-right: 30px;
  }
}
