.form-modal {
  padding: 40px;

  &__text {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: #212121;
    margin-bottom: 12px;
  }
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;

  &__label {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: $primery-text-color;
  }

  &__svg {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    fill: #212121;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.form-field__input-box {
  position: relative;
}

.form-field__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border: 1px solid $accent-text;
  }

  &--expands {
    height: 120px;
    padding: 12px 16px;
  }

  &::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.form-field__input:focus ~ .form-field__svg {
  fill: $accent-text;
}

.form-field-checkbox {
  display: flex;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &__label {
    display: flex;
    align-items: center;
  }
  &__input {
    appearance: none;
  }

  &__icon {
    display: inline-block;
    position: relative;
    border: 2px solid #212121;
    border-radius: 2px;
    width: 16px;
    height: 15px;
    margin: 0;
    margin-right: 7px;
  }

  &__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }

  &__link {
    color: $accent-text;
    text-decoration: underline;
  }
}

.form-field-checkbox__input:checked ~ .form-field-checkbox__icon {
  background-color: $accent-text;
  border: 2px solid $accent-text;
  background-size: contain;
}

.modal-form-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-top: 30px;
}
