.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  padding-right: 0;
  padding-left: 0;
  background-color: $secondary-bc-color;

  @media screen and (min-width: $desktop) {
    padding-top: 200px;
    padding-bottom: 200px;
    padding-right: 0;
    padding-left: 0;
  }

  &__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $primery-white-color;
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;

    @media screen and (min-width: $desktop) {
      max-width: 696px;
      font-size: 44px;
      line-height: 1.4;
    }
  }
}

.hero-box {
  // max-width: 1600px;
  // height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/imghero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 767px) {
  .hero-box {
    text-align: center;
    margin: 0 auto;
    background-color: $secondary-bc-color;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/header/header-m1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 118px;
    padding-bottom: 118px;
    min-width: 480px;
    background-size: cover;
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-box {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/header/header-m2x.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-box {
    text-align: center;
    margin: 0 auto;
    background-color: $secondary-bc-color;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/header/header-t1x.jpg);
    background-repeat: no-repeat;
    min-width: 768px;
    background-size: cover;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-box {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/header/header-t2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero-box {
    text-align: center;
    margin: 0 auto;
    background-color: $secondary-bc-color;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/header/header-d1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-box {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/header/header-d2x.jpg);
  }
}
