.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * $card-set-gap);
  margin-bottom: calc(-1 * $card-set-gap);

  &__item {
    flex-basis: calc((100% - 90px) / 3);
    margin-left: $card-set-gap;
    margin-bottom: $card-set-gap;
    border-bottom: 1px solid #eeeeee;
  }
}

.product__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  :focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.product {
  &__thumb {
    position: relative;
    overflow: hidden;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.55;
    color: $primery-white-color;
    background: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__meta {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
  }

  &__title {
    color: $title-text-color;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  &__text {
    color: $primery-text-color;
    font-size: 16px;
    line-height: 1.9;
  }

  &:hover .product__content {
    transform: translateY(0);
  }
}
