.section {
  padding-bottom: 94px;
  padding-top: 94px;

  &__title {
    color: $title-text-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
  }
}
