.site-nav {
  display: flex;
  margin: 0;

  &__item:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav__link {
  position: relative;
  color: $title-text-color;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &--current {
    color: $accent-text;
  }

  &--current::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-text;
    margin-bottom: -1px;
  }

  &--current::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-text;
    margin-bottom: -1px;
  }

  &:hover,
  &:focus {
    color: $accent-text;
  }
}
